<%- include layouts/header.ejs %>

        <div class="page-data">
             
            
                 <h1>Braintree Credit Card Transaction </h1>
    <div>
      <form action="/methods/create_transaction_braintree" method="POST" id="braintree-payment-form">
        
        <table cellpadding="11">
                <tr>
                    <td class="label">Full Name</td><td>: <input type="text" name="customer" required> </td>
                </tr>
                 
                <tr>
                    <td class="label" valign="top">Price</td><td valign="top">: <input type="text" name="price" required> </td>
                </tr>
                <tr>
                    <td class="label">Currency</td><td>:  
                    
                    <select name="currency" class="form-control input-sm">
						<option value="USD">USD</option>
						<option value="EUR">EUR</option>
						<option value="PKR">PKR</option>
                    </select>
                     
                    </td>
                 </tr>
                 
                 <tr>
                    <td class="label"> </td> <td><hr> </td>
                 </tr>
                 
                 <tr>
                    <td class="label">Card holder name</td><td>:  <input type="text" name="card_holder_name" required> </td>
                 </tr>
                 
                 <tr>
                    <td class="label">Card Number</td><td>:  <input type="text" size="20" autocomplete="off" data-encrypted-name="number" required></td>
                 </tr>
                 
                 <tr>
                    <td class="label">CVV</td><td>:  <input type="text" size="4" autocomplete="off" data-encrypted-name="cvv" /> </td>
                 </tr>
                 
                  <tr>
                    <td class="label">Expiration (MM/YYYY)</td><td>:   <input type="text" size="2" name="month" required> / <input type="text" size="4" name="year" required> </td>
                 </tr>
                 
                 
                 <tr>
                    <td class="label"></td>
                    <td>
                        &nbsp; <input type="submit" name="submit" value="Save">
                       <input type="button" name="cancel" value="Cancel" class="cancel" onClick="cancelTransaction()">
                    </td>
                 </tr>
                </table>
          
      </form>
    </div>
    <script src="https://js.braintreegateway.com/v1/braintree.js"></script>
    <script>
      //var braintree = Braintree.create("YourClientSideEncryptionKey");
      //braintree.onSubmitEncryptForm('braintree-payment-form');
    </script>
           
            
        </div>
        
<%- include layouts/footer.ejs %>
