<!DOCTYPE html>
</html>
    <head>
        <title>Node.js-Assignment</title>
        <link href="/../css/style.css" rel="stylesheet">
        <script type="text/javascript" src="/../js/all.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <div class="page-header"><h2>Home</h2></div>
            <div class="page-container">

 
        <div class="page-data">
             
			<h2><a class="a-inside Payment" href="../customers">Customers List</a><h2>
			
			<hr>
			<h2><a class="a-inside Payment" href="../methods">Payment Methods List</a> <h2>
			<a class="a-inside B" href="../methods/braintree"> --- Transaction with Braintree</a>
			<br>
			
			<a class="a-inside Payment" href="../methods/paypal"> --- Transaction with Paypal</a>
			
       
       </div>
       
		</div>
		<div id="footer">
			<img src="/../images/logo.png">
		</div>
	</div>
</body>
</html>
