<%- include layouts/header.ejs %>

        <div class="page-data">
             
            
                 <h1>Braintree Credit Card Transaction </h1>
    <div>
      <form action="/methods/create_transaction_braintree" method="POST" id="braintree-payment-form">
        
        <table cellpadding="11">
                <tr>
                    <td class="label">Full Name</td><td>: <input type="text" name="customer" required> </td>
                </tr>
                 
                <tr>
                    <td class="label" valign="top">Price</td><td valign="top">: <input type="text" name="price" required> </td>
                </tr>
                <tr>
                    <td class="label">Currency</td><td>:  
                    
                    <select name="currency" id="currency" class="form-control input-sm">
						<option value="USD">USD</option>
						<option value="EUR">EUR</option>
						<option value="AUD">AUD</option>
                    </select>
                     
                    </td>
                 </tr>
                 
                 <tr>
                    <td class="label"> </td> <td><hr> </td>
                 </tr>
                 
                 <tr>
                    <td class="label">Card holder name</td><td>:  <input type="text" name="card_holder_name" required> </td>
                 </tr>
                 
                 <tr>
                    <td class="label">Card Number</td><td>:  <input type="text" size="20" autocomplete="off" id="number" name="number" required></td>
                 </tr>
                 
                 <tr>
                    <td class="label">CVV</td><td>:  <input type="text" size="4" autocomplete="off" name="cvv" /> </td>
                 </tr>
                 
                  <tr>
                    <td class="label">Expiration (MM/YYYY)</td><td>:   <input type="text" size="2" name="month" required> / <input type="text" size="4" name="year" required> </td>
                 </tr>
                 
                 
                 <tr>
                    <td class="label"></td>
                    <td>
                        &nbsp; 
                        <input type="submit" name="submit" value="Save">
                       <input type="button" name="cancel" value="Cancel" class="cancel" onClick="cancelTransaction()">
                    </td>
                 </tr>
                </table>
          
      </form>
    </div>
    <script src="https://js.braintreegateway.com/v1/braintree.js"></script>
 
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	
	
	<script src="http://jqueryvalidation.org/files/dist/jquery.validate.min.js"></script>
	<script src="http://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>

	<script>
	$(document).ready(function() {
	 /*
	
		// just for the demos, avoids form submit
		jQuery.validator.setDefaults({
			debug: true,
			success: "valid"
		});
		$( "#braintree-payment-form" ).validate({
			rules: {
				number: {
					required: true,
					creditcard: true
				}
			}
		});
		*/
		$("#braintree-payment-form").submit(function() {
				
			var card = $('#number').val();
			var currency = $('#currency').val();
			var cardtype =	creditCardTypeFromNumber(card);
			  
			if(cardtype =='UNKNOWN'){
				alert('Enter Valid Credit Card');
				return false;
			}
			 
			if(cardtype == 'AmEx' ){
				if(currency == 'USD' )
					$('#braintree-payment-form').attr('action','/methods/create_transaction_paypal'); 
				else{
					alert('AMEX is possible to use only for USD');
					return false;
				}
			}else
				$('#braintree-payment-form').attr('action','/methods/create_transaction_braintree'); 
 
		});
	});

	</script>
 
    <script>
      //var braintree = Braintree.create("YourClientSideEncryptionKey");
      //braintree.onSubmitEncryptForm('braintree-payment-form');
    </script>
           
            
        </div>
        
<%- include layouts/footer.ejs %>
